<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>

    <h1>
      This Admin panel
    </h1>
    <p>You login as {{.username}} <small><a href="logout">click to sign out</a></small></p>
    <h2>
        Choose Data to change
    </h2>
    <div>
        <li><a href="attendance">Attendance</a></li>
        <li><a href="classroom">Classroom</a></li>
        <li><a href="course">Course</a></li>
        <li><a href="student">Student</a></li>
        <li><a href="teacher">Teacher</a></li>
    </div>
</body>
</html>